notarios-refactor
.env
.pytest_cache
**__pycache__/
.coverage
db.sqlite3
schema.yml
.vscode
htmlcov
mediafiles
firebase_service_account.json
celerybeat-data/
redis-data/
*.sql
*.dump
notarios-ve
response-search.xml
response.xml
textparaenviar-uno.xml
response_batch_*.xml
textparaenviar*.xml
textconerror*.xml
erroresSISGEN*.xml
request_batch_*.xml
response_batch_*.xml
app/sisgen/sisgen_xml_debug/
*.pyc
*.Backup
xml_notaria
keys